<h3>ショッピングカート</h3>
    
    <div class="col-md-10">
      <div class="row">
        <% @cartItems.each do |cartitem| %>
          <div class="col-md-3">
          <%= link_to item_path(cartitem.item_id) do %>
            <%= image_tag cartitem.item.get_item_image, size:'100x100' %>
          <% end %>
            <br>
            <%= cartitem.item.item_name %>
            <%= cartitem.item.with_tax_price %>
            <%= form_with model: cartItem, url: cart_item_path(cartItem.cart.id) do |f| %>
              <%= f.select :amount, *[1..10], include_blank: "選択して下さい", required: true, autocomplete: "amount" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>