<div class="container ml-5">
  <div class="row">
    
    <div class="col-md-2 border">
      <p class="row border">ジャンル検索</p>
      <p class="row">ケーキ</p>
      <p class="row">焼き菓子</p>
      <p class="row">プリン</p>
      <p class="row">キャンディ</p>
    </div>
    
    <div class="col-md-4">
      <%= image_tag @item.get_item_image, size:'100x100' %>
    </div>

    <div class="col-md-6">
      <h3><%= @item.item_name %></h3>
      <p><%= @item.item_detail %></p> 
      <p>￥<%= @item.price %>(税込)</p>

    <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :price, :value => @item.price %>
        <%= f.select :amount, *[1..10], include_blank: "選択して下さい", required: true, autocomplete: "amount" %>
        <%= f.submit "カートに入れる", class: "text-light btn btn-success" %>
    <% end %>
     </div>   
    

  </div>
</div>
